* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.btn {
  padding: 20px 35px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-top: 20px;
  cursor: pointer;
}

.title p {
  font-size: 22px;
  font-weight: 800;
  padding: 20px 0px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  color: #000;
  padding-bottom: 20px;
}

/* Start header */

header {
  width: 100%;
  position: absolute;
}

.header__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  padding: 0px 25px;
}

.nav i {
  padding: 0px 20px;
}

nav li {
  padding: 55px 15px;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

nav .active a {
  color: #f55f8d !important;
}

nav li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  transition: all 1s;
}

nav li:hover a {
  color: #f55f8d;
  animation: upToDown 0.3s forwards;
}

nav li i {
  font-size: 10px;
}

/* End header */

/* Start carousel */
.carousel {
  padding-top: 180px;
  background-image: url(../img/pic2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: top;
}

.carousel__left {
  width: 60%;
  margin-right: 100px;
}

.carousel__right {
  width: 40%;
}

.carsousel__content {
  display: flex;
}

.carousel__article p {
  font-size: 18px;
  padding-bottom: 15px;
}

.carousel__article li {
  list-style: none;
  padding-bottom: 20px;
  font-size: 25px;
}

.carousel__article i {
  width: 35px;
  height: 35px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  margin-right: 15px;
}

.carousel__banner {
  width: 570px;
  margin-left: 50px;
}

.carousel__banner img {
  width: 100%;
}

/* End Carousel */

/* Start service */

.service {
  padding-top: 100px;
  text-align: center;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.service__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 25px;
}

.service__item {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 40px 50px;
  border-radius: 5px;
  background: #fff;
  transform: translateY(0);
  transition: 0.5s;
}

.service__item img {
  width: 234px;
}

.service__item:hover {
  transform: translateY(-20px);
}

/* End service */

/* Start about */
.about {
  background-image: url(../img/bg15.png);
  padding-top: 100px;
}
.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about__left {
  width: 60%;
  margin: auto;
  left: -17%;
  margin-top: 40px;
  position: absolute;
}

.about__banner {
}

.about__left img {
  width: 100%;
  height: 100%;
  border-radius: 0 100px 100px 0;
}

.about__right {
  width: 50%;
}

.about__article ul {
}

.about__article li {
  list-style: none;
}

.about__article li i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #f55f8d;
  border: 1px solid #f55f8d;
  margin: 0 10px 10px 0px;
}
/* End about */

/* Start number */
.number {
  background-image: url(../img/bg14.png);
  padding: 80px 0 50px;
  margin-top: 80px;
}

.number__content {
  display: flex;
  justify-content: space-around;
}

.number__item {
  text-align: center;
}

.number__item i {
  font-size: 45px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  display: inline-block;
}

.number__item p:first-of-type {
  font-size: 65px;
  color: #f55f8d;
  font-weight: 600;
  line-height: 1;
}

.number__item p:last-of-type {
  font-size: 16px;
  color: #262626;
}
/* End number */

/* Start feature */
.feature {
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  object-fit: cover;
}

.feature__content {
  display: flex;
}

.feature__left {
  width: 50%;
}

.feature__item {
  position: relative;
  margin: 40px 0px;
}
.feature__item:nth-of-type(2) {
  margin: 40px -40px 40px 40px;
}

.feature__table {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  align-items: center;
  background: #fff;
  transition: 0.4s;
}

.feature__table i {
  font-size: 80px;
  color: #f55f8d;
  margin: 0px 40px;
}

.idea__content,
.feature__table i {
  position: relative;
  z-index: 1;
}

.feature__table::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}

.feature__table:hover::after {
  opacity: 1;
}

.feature__table:hover i,
.feature__table:hover h3,
.feature__table:hover p {
  color: #fff;
}

.feature__right {
  width: 50%;
  align-items: center;
}

.feature__banner {
}

.feature__banner img {
  max-width: 100%;
  margin: 120px 0px 0px 50px;
  animation: moveimg 5s infinite;
}
/* End feature */

/* Start portfolio */
.portfolio {
  padding: 100px;
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
}

.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__item:hover::before {
  left: 125%;
}

.portfolio__item1 {
  grid-column: 1 / span 2;
}

.portfolio__item5 {
  grid-column: 1 / span 2;
}

.portfolio__item6 {
  grid-row: 2 /4;
  grid-column: 3/4;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  /* transform: translate(0); */
}

.portfolio__icon {
  position: absolute;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 20px;
  right: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 1s;
  opacity: 0;
}

.portfolio__item:hover .portfolio__icon {
  transform: translate(0);
  opacity: 1;
}

.portfolio__icon a {
  cursor: pointer;
}

.portfolio__icon i {
  color: #fff;
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(140px);
  transition: all 1s;
  opacity: 0;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__text h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.portfolio__text p {
  font-size: 15px;
  color: #fff;
}
/* End portifilo */
/* Start plan */
.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.plan__item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px;
  padding: 65px;
  border: 2px solid transparent;
  border-radius: 10px;
  border-image: 100 round;
  transition: 0.5s;
}

.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}

.plan__item h3 {
  font-size: 25px;
  color: #000;
  font-weight: 600;
}

.plan__item img {
  width: 125px;
  margin: 10px 0;
}

.plan__item span {
  font-size: 50px;
  color: #f8ae56;
  font-weight: 600;
}

.plan__item p {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.plan__item ul {
  text-align: left;
  padding: 5px;
  border-top: 1px solid #e1e1f0;
}

.plan__item li {
  list-style: none;
  padding: 5px 0;
  color: #000;
}

.plan__item i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #feeff3;
  color: #f55f8d;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  margin-right: 15px;
}
/* End plan */

/* Start testmonial */
.testimonial {
  padding-top: 100px;
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial__content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-pic::before,
.testimonial-pic::after {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s;
}

.swiper-slide-thumb-active .testimonial-pic::before,
.swiper-slide-thumb-active .testimonial-pic::after {
  opacity: 1;
}

.testimonial-pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial-pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}

.testimonial-thumbs .testimonial-pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic .shape-bx {
  opacity: 1;
}

.testimonial-thumbs .shape-bx::before {
  content: "";
  position: absolute;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.testimonial-comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}

.testimonial-text {
  padding: 20px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-text i {
  position: absolute;
  font-size: 70px;
  transform: rotate(180deg);
  color: #f55f8d;
  top: 10px;
  left: 250px;
}

.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial-position {
  font-size: 18px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 400;
  font-style: italic;
}

.testimonial-text p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding: 15px 65px 15px;
}
/* End testimonial */
/* Start Blog */

.blog {
  text-align: center;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog__content {
  text-align: left;
}

.owl-stage-outer {
  overflow: hidden;
}

.owl-stage {
  display: flex;
}

.owl-nav,
.owl-dots {
  display: none;
}

.blog__item {
  background: #feeff3;
  border-radius: 10px;
}

.blog__header {
  position: relative;
}

.blog__content .blog__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog__item .blog__header p {
  position: absolute;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 15px;
  bottom: -15px;
  left: 15px;
}

.blog__body {
  padding: 25px 20px 20px 20px;
}

.blog__body h3 {
  font-size: 24px;
  font-weight: 600;
  color: #262626;
  line-height: 1.3;
}

.blog__body p {
  font-size: 16px;
}

.blog__footer {
  display: flex;
  padding: 15px;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid #ccc;
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: middle;
}

.blog__footer p:first-of-type {
  color: #f55f8d;
}

.blog__footer span {
  color: #262626;
}
/* End blog */
/* Start footer */
.footer {
  margin-top: 100px;
  background-image: url(../img/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  color: #fff;
  font-size: 15px;
  position: relative;
}

.footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  display: flex;
  padding: 50px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  background: #fff;
  background-image: url(../img/pattern3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.footer__text {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form {
  width: 50%;
}

.form__content {
  display: flex;
}

.footer__form input {
  padding: 20px 20px;
  flex: 1 1 auto;
  font-size: 15px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #fff;
  outline: 0;
}

.footer__form input:hover {
  border-color: #f55f8d;
}

.footer__form button {
  padding: 20px 40px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 0 10px 10px 0;
  border-color: transparent;
  outline: 0;
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.footer__form button:hover {
  background-position: right center;
}

.footer__form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__contact i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 15px;
}

.footer__item .footer__contact li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.footer__item h3 {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::after {
  width: 25px;
  left: 20px;
}

.footer__item h3::before,
.footer__item h3::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 5px;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}

.footer__item li {
  list-style: none;
  padding: 10px 0;
}

.footer__item li a {
  text-decoration: none;
  font-size: 16px;
  color: #636363;
  transition: all 0.3s;
}

.footer__item li a:hover {
  color: #fff;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.copyright__content {
  display: flex;
  justify-content: space-between;
}

.copyright__left span {
  color: #f55f8d;
}

.copyright__right i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  transition: 0.3s;
}

.copyright__right i:hover {
  background: #f55f8d;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

@keyframes moveimg {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
